body {
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    color: white;
}

input[type=text] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2d9fd9;
    color: black;
    height: 40px;
    width: 100%;
}

input[type=text]:focus {
    outline: none;
    border: 1px solid #a0d18c;
    color: #0033ff;
}

.point {
    margin-left: 5px;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #b2c99d;
    font-size: 20px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b2c99d;
    font-size: 20px;
}

::placeholder {
    color: #728a75;
    font-size: 20px;
}

table td {
    padding: 0;
    margin: 0;
    width: 80px;
}

#tdRankpoint td {
    text-align: center;
}

#link {
    width: 30%;
}

.center {
    margin: auto;
    width: 30%;
    padding: 5px;
}